# Schema Investigation

Let's take a look at what the data looks like!

In [4]:
import pymysql
import pandas as pd
import pandas.io.sql as sqlio

In [11]:
# the values themselves are omitted from the 
#    published version to protect data
conn = pymysql.connect(user = user,
                        passwd = password,
                        host = host,
                        port = port,
                        database = name)

In [7]:
sql = "select * from census_learn_sql;"
df = sqlio.read_sql_quebry(sql, conn)

In [9]:
print(df.shape)
print(df.head())

(176391, 42)
   age                 class of worker  industry code  occupation code  \
0   73                 Not in universe              0                0
1   58  Self-employed-not incorporated              4               34
2   18                 Not in universe              0                0
3    9                 Not in universe              0                0
4   10                 Not in universe              0                0

                    education  wage per hour   last education marital status  \
0        High school graduate              0  Not in universe        Widowed
1  Some college but no degree              0  Not in universe       Divorced
2                  10th grade              0      High school  Never married
3                    Children              0  Not in universe  Never married
4                    Children              0  Not in universe  Never married

           major industry code                major occupation code  \
0  Not in universe or children                      Not in universe
1                 Construction  Precision production craft & repair
2  Not in universe or children                      Not in universe
3  Not in universe or children                      Not in universe
4  Not in universe or children                      Not in universe

      ...      father birth country mother birth country  birth country  \
0     ...             United-States        United-States  United-States
1     ...             United-States        United-States  United-States
2     ...                   Vietnam              Vietnam        Vietnam
3     ...             United-States        United-States  United-States
4     ...             United-States        United-States  United-States

                          citizenship own business or self employed  \
0   Native- Born in the United States                             0
1   Native- Born in the United States                             0
2  Foreign born- Not a citizen of U S                             0
3   Native- Born in the United States                             0
4   Native- Born in the United States                             0

  fill questionnaire for veteran s admin  veterans benefits  \
0                        Not in universe                  2
1                        Not in universe                  2
2                        Not in universe                  2
3                        Not in universe                  0
4                        Not in universe                  0

  weeks worked in year  year salary range
0                    0    95     - 50000.
1                   52    94     - 50000.
2                    0    95     - 50000.
3                    0    94     - 50000.
4                    0    94     - 50000.

[5 rows x 42 columns]

## Assumption 

I will carry on with the assumption that the columns in this database will not change. If they were changing, we would have to setup an endpoint that just returns the names of the columns so that our front end can populate the list of columns. In the case that they are unchanging, we can share this column data with our front end & save on that initial call.

## Column Extraction
Now, let's extract out the names of the columns that can then be used by our front end to make queries to our summary statistics endpoint.

In [10]:
columns = list(df)
print(len(columns))
print(columns)

42
['age', 'class of worker', 'industry code', 'occupation code', 'education', 'wage per hour', 'last education', 'marital status', 'major industry code', 'major occupation code', 'mace', 'hispanice', 'sex', 'member of labor', 'reason for unemployment', 'fulltime', 'capital gain', 'capital loss', 'dividends', 'income tax liability', 'previous residence region', 'previous residence state', 'household-with-family', 'household-simple', 'weight', 'msa-change', 'reg-change', 'within-reg-change', 'lived-here', 'migration prev res in sunbelt', 'w', 'family members under 118', 'father birth country', 'mother birth country', 'birth country', 'citizenship', 'own business or self employed', 'fill questionnaire for veteran s admin', 'veterans benefits', 'weeks worked in year', 'year', 'salary range']

Now we will use this list in the front end, combined with human readable names that we will make.